.pricing{
    background-color: rgb(241, 241, 241);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.member{
    padding: 30px;
    font-weight: 600;
    color: rgb(83,77,77);
}
.works{
    font-size: 60px;
    font-weight: 600;
    max-width: 700px;
    margin: 0 0 50px 300px;
}
.gyms{
    font-size: 28px;
    padding: 30px;
    max-width: 700px;
    border: 2px solid  rgb(139, 136, 136); 
    box-shadow: 5px 5px 8px rgb(196, 192, 192);
    border-radius: 10px;
    margin: 5rem 10rem;
}
.trainer{
    border: 2px solid  rgb(139, 136, 136); 
    box-shadow: 5px 5px 8px rgb(196, 192, 192); 
    border-radius: 10px;
    margin: 30px; 
    padding: 20px;
}
.labels{
    font-size: 15px;
    font-weight: bold;
    color: rgb(85, 83, 83);
}
.price {
    padding: 10px;
}
.health{
    word-spacing: 3px;
    line-height: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
.list{
  list-style: disc;

}
.use{
    padding: 0.6rem 25rem;
    border-radius: 7px;
    font-size: 20px; 
}
.bound{
    padding: 1rem;
}
.used{
    margin-top: 2rem;
    padding: 0.5rem 5rem;
    border-radius: 5rem;
}
@media (max-width: 600px) {
    .works{
        font-size: 45px;
        font-weight: 400;
        max-width: 700px;
        margin: 0 50px 40px ;
    }
    .gyms{
        font-size: 28px;
        padding: 30px;
        max-width: 700px;
        border: 2px solid  rgb(139, 136, 136); 
        box-shadow: 5px 5px 8px rgb(196, 192, 192);
        border-radius: 10px;
        margin: 5rem 10rem;
    }
    .gyms{
        font-size: 20px;
        padding: 35px;
        max-width: 700px;
        border: 2px solid  rgb(139, 136, 136); 
        box-shadow: 5px 5px 8px rgb(196, 192, 192);
        border-radius: 10px;
        margin: 3rem 5rem;
    }
    .trainer{
        border: 2px solid  rgb(139, 136, 136); 
        box-shadow: 5px 5px 8px rgb(196, 192, 192); 
        border-radius: 10px;
        margin: 50px; 
        padding: 10px;
    }
    .use{
        padding: 0.3rem 5rem;
        border-radius: 7px;
        font-size: 20px; 
    }
    .used{
        margin-top: 1rem;
        padding: 0.2rem 3rem;
        border-radius: 5rem;
    }
}
